body{
  margin:0;
}
.thumbnail{
  width: 100%;

}


.author , .stats{
  color: rgb(96, 96, 96);
  font-family: Roboto,Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.author{
  margin-bottom: 4px;
}



.channel-profile{
  border-radius: 50%;
  width: 40px;
}



.text{
  
  margin-top: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}
.channel-picture-grid{
  display: grid;
  grid-template-columns: 50px 1fr;

}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;

}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
