body{
  margin:0;
}
.thumbnail{
  width: 100%;

}
p{
  font-family: Roboto , Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.author , .stats{
  color: rgb(96, 96, 96);
  font-family: Roboto,Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.author{
  margin-bottom: 4px;
}


.search-bar{
  display: block;
}
.channel-profile{
  border-radius: 50%;
  width: 40px;
}



.text{
  
  margin-top: 0px;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}
.channel-picture-grid{
  display: grid;
  grid-template-columns: 50px 1fr;

}
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;

}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-section{
  background-color: lightblue;
  width: 150px;
  
}
.middle-section{
  background-color: lightpink;
  flex:1;  
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}
.right-section{
  background-color: lightblue;
  width: 210px;
}